---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// variables
$base-font-family: 'Open Sans', 'Helvetica Neue', 'Helvetica', 'Calibri', Arial, sans-serif;
$base-font-weight: 400;
$base-bold-font-weight: 700;

$monospace-font-family: 'Courier New', monospace;
$monospace-font-weight: 400;

$header-font-family: 'Oswald', 'Helvetica Neue', 'Helvetica', 'Calibri', Arial, sans-serif;
$header-font-weight: 700;

$site-nav-font-family: $header-font-family;
$site-nav-font-weight: 700;

// skeleton css base
@import 'vendors/skeleton';

// local imports
@import 'lists';
@import 'menus';
@import 'syntax-highlighting';

// colors
$c-white: #FFFFFF;
$c-black: #000000;

// grey
$c-grey: #EEEEEE;
$c-grey-light: #FAFAFA;
$c-grey-dark: #212121;

// light green primary
$c-primary: #8BC34A;
$c-primary-light: #9CCC65;
$c-primary-dark: #33691E;

// deep orange accent
$c-accent: #FF3D00;
$c-accent-light: #FF9E80;
$c-accent-dark: #DD2C00;

// text 
$c-text-light-on-dark-primary: rgba(255,255,255,1);
$c-text-light-on-dark-secondary: rgba(255,255,255,0.7);
$c-text-light-on-dark-hint: rgba(255,255,255,0.3);

$c-text-dark-on-light-primary: rgba(0,0,0,0.87);
$c-text-dark-on-light-secondary: rgba(0,0,0,0.54);
$c-text-dark-on-light-hint: rgba(0,0,0,0.26);

// layout
body {
    margin: 0;
}
.container {
    // max-width: 800px;
}
.page-content {
    padding: 48px 0 55px 0;
    img {
        display: block;
        margin: 0 auto;
        max-width: 100%;
    }
    .post {
        max-width: 800px;
        margin: 0 auto;
    }
}
.page-footer {
    padding: 48px 0 55px 0;
}
.page-header {
    padding: 15px 0 0 0;
}

// Typography
body {
    font-family: $base-font-family;
    font-weight: $base-font-weight;
    font-size: 1.8em;
}

h1, h2, h3, h4, h5 {
    font-family: $header-font-family;
    font-weight: $header-font-weight;
    text-transform: uppercase;
}
.site-nav {
    font-family: $site-nav-font-family;
    font-weight: $site-nav-font-weight;
}
code, kbd, samp , pre, xmp, plaintext, listing {
    font-family: $monospace-font-family;
}


// base-colors
body {
    background-color: $c-grey-dark;
}
a {
    color: $c-primary;
    &:hover {
        color: $c-primary-dark;
    }
}
.page-header {
    background-color: $c-grey-dark;
    color: $c-text-dark-on-light-primary;
    a {
        color: $c-primary-light;
    }
}
.page-content {
    background-color: $c-grey-dark;
    color: $c-text-light-on-dark-primary;
    h1, h2, h3, h4, h5 {
        color: $c-text-dark-on-light-secondary;
        font-weight: 200;
    }
    a {
        color: $c-primary-light;
        &:hover {
            color: $c-primary;
        }
    }

    &.alt {
        background-color: $c-grey-light;
        color: $c-text-dark-on-light-primary;
        h1, h2, h3, h4, h5 {
            color: $c-text-light-on-dark-secondary;
        }
        a {
            color: $c-primary-dark;
            &:hover {
                color: $c-primary;
            }
        }
    }
}
.page-footer {
    // background-color: $c-grey;
    // color: $c-text-dark-on-light-primary;
    // a {
    //     color: $c-primary-dark;
    //     &:hover {
    //         color: $c-primary;
    //     }
    // }
}


// big image index page

.hero {
    padding: 48px 0 55px 0;
    .title {
        text-align: center;

        h1 {
            font-weight: 900;
            margin-bottom: 0;

            font-size: 15vw;
            line-height: 1;

            /* Larger than phablet */
            @media (min-width: 550px) {
            }

            color: $c-primary;

            /* Larger than mobile */
            @media (min-width: 400px) {
            }
            /* Larger than phablet */
            @media (min-width: 550px) {
                display: inline;
            }
            /* Larger than tablet */
            @media (min-width: 750px) {
            }
        }
    }
}

// header
.page-header {
    h1 {
        letter-spacing: 3px;
        font-size: 10vw;
        text-align: center;
        a {
            color: $c-primary-light;
            text-decoration: none;
        }
        margin-bottom: 3px;
    }
    .subtitle {
        font-size: 22px;
        text-align: center;
        margin-bottom: 0;
        font-weight: 700;
    }
 }

.amazon {
    iframe {
        margin: 0 auto;
        display: block;
    }
    .other-options {
        display: block;
        text-align: center;
        margin: 5px auto 10px;

        /* Larger than tablet */
        @media (min-width: 750px) {
            display: inline;
            float: right;
            margin-bottom: 0;
        }
    }
}

// footer
.page-footer {
    .footer-heading {
        overflow: hidden;
        text-align: center;
        margin-bottom: 0;
        a {
            text-decoration: none;
            color: $c-accent-light;
            &:hover {
                color: $c-accent;
            }
        }
    }
    .footer-description {
        text-align: center;
        color:  $c-text-light-on-dark-secondary;
        font-weight: 700;
    }
    .columns {
        margin-bottom: 36px;
    }
    .menu {
        a {
            font-weight: 400;
            color:  $c-text-light-on-dark-secondary;
            &:hover {
                color: $c-accent-light;
            }
        }
    }
    .site-nav {
        text-align: center;
        text-transform: uppercase;
        a {
        font-weight: 700;
            color:  $c-text-dark-on-light-secondary;
        }
    }
    .logo-footer {
        text-align: center;
        margin-top: 15px;
    }
}

// icons
li .icon {
    width: 32px;
    height: 32px;
    display: inline-block;
    vertical-align: middle;
    svg {
        fill: $c-accent;
    }
}

// contact page
.adr p, p.tel, {
    margin: 0;
}
.fixed-numbers {
    font-family: sans-serif;
}
    
// post list
.post-list {
    list-style: none;
    padding-left: 0;

    .post-meta {
        font-style: italic;
        color: $c-text-dark-on-light-secondary;
    }
    h4 {
        margin-bottom: 0;
        a {
            text-decoration: none;
        }
    }
}
.rss-subscribe {
}
